@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


body {
    background-color: #0b0c10;
}

h1, h2 {
    font-family: 'Saira', serif;
    color: #66fcf1;
}

h4 {
    color: #66fcf1;
}

p {
    color: #c5c6c7;
}